/**shop**/
.shop-product{
	width:30.75%;
	float:left;
}
.product-hon-img{
	min-width:250px;
	width:35%;
	float:left;
}
.product-hon-desc{
	width:65%;
	float:left;
	padding-top:15%;
}
#product-list{
	display:none;
}