/**shop**/
.shop-product{
	width:30.75%;
	float:left;
}
.product-hon-img{
	min-width:250px;
	width:35%;
	float:left;
}
.product-hon-desc{
	width:65%;
	float:left;
	padding-top:15%;
}
#product-list{
	display:none;
}
.col-1{
	float: left;
    width: 48%;
	border-right:1px solid #E8E4D9;
}
.col-2{
	float: right;
    width: 48%;
}
.account-title{
	display:none;
}
#menu-sp,#cart-table-sp{
	display:none;
}
.sp-logo{
	display:none;
}
.height-pc-50{
	height:50px;
}
.contact-block{
	width:50%;
	margin:0 auto;
}
.account-table{
	width:100%;
}

.account-table .a-left{
	width:48%;
}

.account-table .a-right{
	width:48%;
}

/**popup cart**/
.popup-cart{
	position:fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	background-color:#F7F7F7;
	width:500px;
	height:260px;
	border:1px solid #cccccc;
	text-align:center;
	z-index:99999;
	display:none;
}
