body{
	width:100%;
	margin:0px;
	padding:0px;
	text-align:center;
	}
a img, a img:hover, a img:active, a img:focus{
	text-decoration: none;
    outline: none;
	border: none; 
}
a, a:hover, a:active, a:focus{
	text-decoration: none;
    outline: none;
	border: none; 
}
.clear{
	clear:both;
}
.img-100{
	width:100%;
}
.img-25{
	width:25%;
}
#wrap{
	margin: 0 auto;
	text-align:left;
	}
.height-20{
	height:20px;
}
.height-40{
	height:40px;
}
.height-50{
	height:50px;
}
.header-left{
	float:left;
	padding-left:60px;
	padding-top:10px;
}
.header-right{
	float:left;
	padding-top:20px;
	padding-left:80px;
}
.top-20{
	margin-top:20px;
}
.top-50{
	margin-top:50px;
}
#menu-pc{
	list-style:none;
	float:left;
}
#menu-pc li{
	float:left;
	padding-left:30px;
	padding-right:20px;
	position:relative;
}
#menu-pc li a{
	color:#000000;
	font-size:18px;
}
#menu-pc li a:hover{
	color:#6D8E01;
}
#menu-pc li a:hover:before {
    content: '';
    position: absolute;
    height: 30px;
    width: 20px;
    background: url('../img/common/icon-organic.png') no-repeat -253px -112px;
    left:4px;
	top:-4px;
}

#menu-cart .link-menu {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    display: block;
    height: 25px;
    position: absolute;
    right: 2%;
    text-align: center;
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    z-index: 980;
    top: 65px;
    width: 35px; }
    @media only screen and (max-width: 1025px) {
      #menu-cart .link-menu {
        top: 50px; } }
    @media only screen and (max-width: 769px) {
      #menu-cart .link-menu {
        display: none; } }
    
    #menu-cart .link-menu span {
      background-color: #a4935f !important; }
      
      #menu-cart .link-menu span:before {
        -webkit-transform: translateY(-450%);
            -ms-transform: translateY(-450%);
                transform: translateY(-450%); }
      
      #menu-cart .link-menu span:after {
        -webkit-transform: translateY(450%);
            -ms-transform: translateY(450%);
                transform: translateY(450%); }
    
    #menu-cart .link-menu.activelink-menu {
      position: fixed; }
      
      #menu-cart .link-menu.activelink-menu span:before {
        -webkit-transform: translateY(0px) rotate(90deg);
            -ms-transform: translateY(0px) rotate(90deg);
                transform: translateY(0px) rotate(90deg);
        top: 0; }
      
      #menu-cart .link-menu.activelink-menu span:after {
        -webkit-transform: translateY(0px) rotate(90deg);
            -ms-transform: translateY(0px) rotate(90deg);
                transform: translateY(0px) rotate(90deg);
        bottom: 0; }
    
    #menu-cart .link-menu:hover span:before {
      -webkit-transform: translateY(0px) rotate(90deg);
          -ms-transform: translateY(0px) rotate(90deg);
              transform: translateY(0px) rotate(90deg);
      top: 0; }
    
    #menu-cart .link-menu:hover span:after {
      -webkit-transform: translateY(0px) rotate(90deg);
          -ms-transform: translateY(0px) rotate(90deg);
              transform: translateY(0px) rotate(90deg);
      bottom: 0; }
  
  #menu-cart .trigger {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    cursor: pointer;
    z-index: 1030; }
    
    #menu-cart .trigger span {
      -moz-user-select: none;
      color: transparent;
      display: block;
      right: 10%;
      height: 4px;
      margin-left: -15px;
      margin-top: -2px;
      position: absolute;
      border-radius: 4px;
      top: 50%;
      transition: background-color 0.3s ease 0s;
      width: 30px; }
      
      #menu-cart .trigger span:before {
        background: none repeat scroll 0 0 #a4935f;
        content: "";
        height: 100%;
        left: 0;
        top: 10px;
        position: absolute;
        border-radius: 4px;
        transition: all 0.2s cubic-bezier(0, 0.985, 0.17, 0.99) 0s;
        width: 100%; }
      
      #menu-cart .trigger span:after {
        background: none repeat scroll 0 0 #a4935f;
        content: "";
        height: 100%;
        left: 0;
        bottom: 10px;
        position: absolute;
        border-radius: 4px;
        transition: all 0.2s cubic-bezier(0, 0.985, 0.17, 0.99) 0s;
        width: 100%; }
  
  #menu-cart .menu-right {
    z-index: 99999; }
    @media only screen and (max-width: 767px) {
      #menu-cart .menu-right {
        display: none; } }
    @media only screen and (max-width: 769px) {
      #menu-cart .menu-right {
        display: none; } }
    
    #menu-cart .menu-right .menu-right-layout {
      display: none;
      position: fixed;
      right: 0;
      float: right;
      background: #fff;
      width: 18%;
      height: 100%;
      padding-top: 100px;
	  z-index:99;
      top: 0; }
    
    #menu-cart .menu-right .search-right {
      float: right;
      margin-right: 6%;
      margin-top: 30px;
      width: 80%; }
    
    #menu-cart .menu-right .main-menu-right {
      float: right;
      padding-right: 11%;
      margin-top: 30px;
      width: 100%; }
      
      #menu-cart .menu-right .main-menu-right ul {
        float: right;
        width: 100%; }
        
        #menu-cart .menu-right .main-menu-right ul li {
          list-style: none;
          font-size: 1.285714286em;
          line-height: 48px;
          position: relative;
          text-align: right; }
          
          #menu-cart .menu-right .main-menu-right ul li:after {
            content: '';
            position: absolute;
            height: 15px;
            width: 2px;
            right: -15px;
            top: 17px;
            background: #a4935f;
            transition: all 0.5s;
            -webkit-transition: all 0.5s; }
          
          #menu-cart .menu-right .main-menu-right ul li a {
            color: #898989; }
            
            #menu-cart .menu-right .main-menu-right ul li a:hover {
              color: #95a83f; }
          
          #menu-cart .menu-right .main-menu-right ul li.active:after {
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -webkit-transform: translateY(0px) rotate(90deg);
                -ms-transform: translateY(0px) rotate(90deg);
                    transform: translateY(0px) rotate(90deg); }
          
          #menu-cart .menu-right .main-menu-right ul li:hover:after {
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -webkit-transform: translateY(0px) rotate(90deg);
                -ms-transform: translateY(0px) rotate(90deg);
                    transform: translateY(0px) rotate(90deg); }
    
    #menu-cart .menu-right .login {
      margin-right: -2%;
      border: none; }
      
      #menu-cart .menu-right .login .input-text {
        border: none;
        float: right;
        border-bottom: 1px solid #e1e1e1;
        width: 90%;
        padding: 10px 0;
        text-align: right;
        color: #898989;
		font-size:18px;
        opacity: 0.5; }
      
      #menu-cart .menu-right .login .remember {
        float: right;
        color: #898989;
        font-size: 0.857142857em;
        font-weight: normal;
        }
        
        #menu-cart .menu-right .login .remember input {
          zoom: 1.5; }
      
      #menu-cart .menu-right .login button {
        float: right;
		cursor:pointer;
		}
      
      #menu-cart .menu-right .login a {
        float: right; }
      
      #menu-cart .menu-right .login .button {
        border: none;
        float: right;
        background: #6d8e01;
        padding: 8px 50px;
        text-transform: uppercase;
        color: #fff;
		cursor:pointer;
        border-radius: 30px; }
		
/**slide top**/
.slider{
	max-width:100%;
	z-index:1;
	position:relative;
	width:100%;
}

/**history**/
#organic-history.style1 {
    margin-bottom: 100px;
    background: none; }
    @media only screen and (max-width: 1025px) {
      #organic-history.style1 {
        margin-bottom: 100px; } }
    @media only screen and (max-width: 1025px) {
      #organic-history.style1 .right {
        position: absolute;
        left: -10%; } }
    @media only screen and (max-width: 767px) {
      #organic-history.style1 .right {
        position: relative;
        margin-top: 15%;
        left: 10%; } }
    
    #organic-history.style1 .right .history-right {
      position: absolute; }
      @media only screen and (max-width: 767px) {
        #organic-history.style1 .right .history-right {
          position: relative; } }
      @media only screen and (min-width: 769px) {
        
        #organic-history.style1 .right .history-right:hover:before {
          top: -5%;
          left: -10%;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          z-index: 0; }
        
        #organic-history.style1 .right .history-right:hover .img-history {
          margin-top: -1%;
          margin-left: -4%;
          transition: all 0.5s;
          -webkit-transition: all 0.5s; }
 }
      
      #organic-history.style1 .right .history-right:before {
        content: '';
        position: absolute;
        border: 5px solid #e8e4d9;
        top: -6%;
        left: -14%;
        height: 100%;
        width: 100%;
        z-index: 1;
        transition: all 0.5s;
        -webkit-transition: all 0.5s; }
        @media only screen and (max-width: 769px) {
          #organic-history.style1 .right .history-right:before {
            top: -7%;
            left: -14%; } }
        @media only screen and (max-width: 767px) {
          #organic-history.style1 .right .history-right:before {
            left: 7%;
            width: 65%;
            height: 340px; } }
      
      #organic-history.style1 .right .history-right .img-history {
        width: 500px;
        height: 560px;
        position: relative;
        overflow: hidden;
        transition: all 0.5s;
        -webkit-transition: all 0.5s; }
        @media only screen and (max-width: 1025px) {
          #organic-history.style1 .right .history-right .img-history {
            width: 395px;
            height: 500px; } }
        @media only screen and (max-width: 769px) {
          #organic-history.style1 .right .history-right .img-history {
            width: 330px;
            height: 480px;
            overflow-x: hidden; } }
        @media only screen and (max-width: 767px) {
          #organic-history.style1 .right .history-right .img-history {
            width: 255px;
            height: 300px;
            overflow: hidden; } }
        
        #organic-history.style1 .right .history-right .img-history img {
          position: absolute;
          left: 50%;
          right: auto;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 100%; }
          @media only screen and (max-width: 1025px) {
            #organic-history.style1 .right .history-right .img-history img {
              height: 500px; } }
          @media only screen and (max-width: 769px) {
            #organic-history.style1 .right .history-right .img-history img {
              height: 480px;
              max-width: inherit;
              width: auto; } }
          @media only screen and (max-width: 767px) {
            #organic-history.style1 .right .history-right .img-history img {
              width: 100%;
              height: 100%; } }
    
    #organic-history.style1 .history-left {
      text-align: right;
      padding-right: 22%;
      padding-left: 8%; }
      @media only screen and (max-width: 1025px) {
        #organic-history.style1 .history-left {
          padding-left: 0; } }
      @media only screen and (max-width: 767px) {
        #organic-history.style1 .history-left {
          text-align: center;
          padding: 40px 3% 0 0; } }
      
      #organic-history.style1 .history-left .title-history {
        color: #333;
        text-transform: uppercase;
        font-size: 1.285714286em;
        padding-bottom: 3px; }
        @media only screen and (max-width: 767px) {
          #organic-history.style1 .history-left .title-history {
            padding-bottom: 0; } }
      
      #organic-history.style1 .history-left .title-article {
        color: #95a83f;
        text-transform: uppercase;
        font-size: 3.428571429em;
        padding-bottom: 45px;
        font-family: 'Playfair Display Black'; }
        @media only screen and (max-width: 767px) {
          #organic-history.style1 .history-left .title-article {
            padding-bottom: 25px; } }
      
      #organic-history.style1 .history-left strong {
        color: #252525;
        padding-bottom: 20px;
        font-family: 'Playfair Display Italic';
        font-size: 1.428571429em; }
      
      #organic-history.style1 .history-left .description-article {
        color: #252525;
        padding-bottom: 25px;
        font-family: 'Playfair Display Italic';
        font-size: 1.714285714em; }
        @media only screen and (max-width: 767px) {
          #organic-history.style1 .history-left .description-article {
            padding-bottom: 20px; } }
      
      #organic-history.style1 .history-left .content-article {
        color: #7d7d7d;
        padding-bottom: 25px;
        font-size: 1.285714286em;
        line-height: 26px; }
        @media only screen and (max-width: 769px) {
          #organic-history.style1 .history-left .content-article {
            height: 135px;
            overflow: hidden; } }
        @media only screen and (max-width: 767px) {
          #organic-history.style1 .history-left .content-article {
            display: none; } }
      
      #organic-history.style1 .history-left .read-more-article {
        color: #333;
        border: 3px solid #e8e4d9;
        padding: 8px 42px;
        border-radius: 25px;
        float: right;
        font-size: 1.428571429em;
        text-transform: uppercase;
        background: transparent;
        position: relative;
        overflow: hidden;
        transition: all 0.5s;
        -webkit-transition: all 0.5s; }
        @media only screen and (max-width: 767px) {
          #organic-history.style1 .history-left .read-more-article {
            float: inherit; } }
        
        
        #organic-history.style1 .history-left .read-more-article:hover {
          color: #fff;
          transition: all 0.5s;
          -webkit-transition: all 0.5s; 
          background: #95a83f;
        }
		
/**subscribe**/
#organic-send-mail {
  margin-bottom: 5px;
  clear: both; }
  @media only screen and (max-width: 767px) {
    #organic-send-mail .form-send-letter h2{
      margin: 0;
    }
    #organic-send-mail .form-send-letter{
        padding: 10px 0 0px 0px!important;
    }
    #organic-send-mail .form-send-letter .es_textbox_button{
      margin-top: 8px!important;
      margin-left: 20px;
    }
  }
  
  #organic-send-mail .bg-subcribe {
    background: #f4f4f4; 
	background: url('../img/common/email-block.png');
	
	}
  
  #organic-send-mail .form-send-letter {
    padding: 41px 0 0px 135px;
    min-height: 150px;
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 1025px) {
      #organic-send-mail .form-send-letter {
        padding: 35px 0 0px 70px; } }
    @media only screen and (max-width: 769px) {
      #organic-send-mail .form-send-letter {
        padding: 35px 0 0px 1px; } }
    
    #organic-send-mail .form-send-letter h2 {
      float: left;
      text-transform: uppercase;
      font-size: 1.428571429em;
      font-weight: normal;
      padding: 5px 0px 15px 15px; }
      @media only screen and (max-width: 769px) {
        #organic-send-mail .form-send-letter h2 {
          font-size: 1.2em;
          padding: 5px 0px 15px 20px; } }
    

    
    #organic-send-mail .form-send-letter .es_lablebox {
      display: none; }
    
    #organic-send-mail .form-send-letter .es_textbox_class {
      width: 300px;
      float: left;
      background: none;
      border: 1px solid #e8e4d9;
      box-shadow: none;
      border-radius: 0px;
      margin: 1px 20px;
      min-height: 50px;
      padding-left: 15px; }
      @media only screen and (max-width: 1025px) {
        #organic-send-mail .form-send-letter .es_textbox_class {
          width: 285px; } }
    
    #organic-send-mail .form-send-letter .es_textbox_button {
      border: 3px solid #95a83f;
      border-radius: 30px;
      background: none;
      padding: 3px 35px;
      text-transform: uppercase;
      font-size: 1.428571429em;
      margin-top: 10px;
      text-align: center;
      width: inherit;
      transition: all 0.5s;
      -webkit-transition: all 0.5s; }
      @media only screen and (max-width: 769px) {
        #organic-send-mail .form-send-letter .es_textbox_button {
          font-size: 1.2em;
          padding: 3px 20px; } }
      @media only screen and (max-width: 1025px) {
        #organic-send-mail .form-send-letter .es_textbox_button {
          margin-top: -15px; } }
      
      #organic-send-mail .form-send-letter .es_textbox_button:hover {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        border-color: #95a83f;
        background: #95a83f;
        color: #fff; }

/**up comming blog**/
#organic-comming-blog.style1 {
    margin-top: 80px;
    margin-bottom: 120px; }
    @media only screen and (max-width: 767px) {
      #organic-comming-blog.style1 {
        margin-bottom: 0;
        margin-top: 0; } }
    
    #organic-comming-blog.style1 .title-blog {
      color: #95a83f;
      text-transform: uppercase;
      font-size: 2.857142857em;
      min-height: 30px;
      letter-spacing: 2px; }
      @media only screen and (max-width: 767px) {
        #organic-comming-blog.style1 .title-blog {
          font-size: 2.1em;
          margin-left: 20px; } }
    
    #organic-comming-blog.style1 .see-all-blog {
      float: right;
      text-transform: uppercase;
      margin-bottom: 50px;
      margin-top: 30px;
      position: relative; }
      @media only screen and (max-width: 767px) {
        #organic-comming-blog.style1 .see-all-blog {
          margin-right: 35px; } }
      
      #organic-comming-blog.style1 .see-all-blog:after {
        content: '';
        position: absolute;
        border-bottom: 1px solid #d8d8d8;
        bottom: 3px;
        width: 100%;
        left: 0; }
      
      #organic-comming-blog.style1 .see-all-blog a {
        color: #333; }
        
        #organic-comming-blog.style1 .see-all-blog a:hover {
          color: #95a83f; }
    
    #organic-comming-blog.style1 .blog-content {
      width: 91%; }
      @media only screen and (max-width: 767px) {
        #organic-comming-blog.style1 .blog-content {
          width: 100%;
          padding: 0 5%; } }
      
      #organic-comming-blog.style1 .blog-content .blog-left {
        float: left;
        color: #a4935f;
        margin: -18px 30px 0px 0px;
        min-height: 300px; }
        @media only screen and (max-width: 769px) {
          #organic-comming-blog.style1 .blog-content .blog-left {
            min-height: 250px; } }
        
        #organic-comming-blog.style1 .blog-content .blog-left .month {
          font-family: 'Playfair Display', sans-serif;
          text-align: center;
          text-transform: uppercase; }
          @media only screen and (max-width: 769px) {
            #organic-comming-blog.style1 .blog-content .blog-left .month {
              margin-top: 25px; } }
          @media only screen and (max-width: 767px) {
            #organic-comming-blog.style1 .blog-content .blog-left .month {
              font-size: 0.7em; } }
        
        #organic-comming-blog.style1 .blog-content .blog-left .day {
          font-size: 3.642857143em;
          padding: 15px 10px 25px 17px;
          font-family: 'Playfair Display Black';
          min-width: 105px;
          border: 4px solid #e8e4d9; }
          @media only screen and (max-width: 769px) {
            #organic-comming-blog.style1 .blog-content .blog-left .day {
              padding: 7px;
              min-width: 75px;
              font-size: 3em;
              margin-top: 50px; } }
          @media only screen and (max-width: 767px) {
            #organic-comming-blog.style1 .blog-content .blog-left .day {
              min-width: 45px;
              padding: 0 0 0 7px;
              font-size: 1.5em;
              line-height: 50px;
              margin-right: 5px;
              margin-top: 35px; } }
          
          #organic-comming-blog.style1 .blog-content .blog-left .day:hover {
            border-color: transparent;
            transition: all 0.5s;
            -webkit-transition: all 0.5s; }
      @media only screen and (max-width: 1025px) {
        #organic-comming-blog.style1 .blog-content .blog-right {
          margin-left: 15px; } }
      @media only screen and (max-width: 767px) {
        #organic-comming-blog.style1 .blog-content .blog-right {
          padding: 0 7px; } }
      
      #organic-comming-blog.style1 .blog-content .blog-right .title-content-blog {
        height: 70px;
        overflow: hidden; }
        @media only screen and (max-width: 769px) {
          #organic-comming-blog.style1 .blog-content .blog-right .title-content-blog {
            height: 110px; } }
        @media only screen and (max-width: 767px) {
          #organic-comming-blog.style1 .blog-content .blog-right .title-content-blog {
            font-size: 1.2em; } }
        
        #organic-comming-blog.style1 .blog-content .blog-right .title-content-blog a {
          color: #525252;
          font-size: 1.714285714em;
          line-height: 35px;
          }
          
          #organic-comming-blog.style1 .blog-content .blog-right .title-content-blog a:hover {
            color: #95a83f; }
          @media only screen and (max-width: 767px) {
            #organic-comming-blog.style1 .blog-content .blog-right .title-content-blog a {
              font-size: 1.5em; } }
      
      #organic-comming-blog.style1 .blog-content .blog-right .auther-blog {
        color: #b8b8b8;
        margin-top: 25px; }
        @media only screen and (max-width: 769px) {
          #organic-comming-blog.style1 .blog-content .blog-right .auther-blog {
            font-size: 0.9em;
            margin-top: 10px; } }
        @media only screen and (max-width: 767px) {
          #organic-comming-blog.style1 .blog-content .blog-right .auther-blog {
            margin-top: 5px; } }
      
      #organic-comming-blog.style1 .blog-content .blog-right .description-blog {
        color: #898989;
        max-height: 75px;
        overflow: hidden;
        font-size: 1.142857143em;
        line-height: 24px; }
        @media only screen and (max-width: 769px) {
          #organic-comming-blog.style1 .blog-content .blog-right .description-blog {
            display: none; } }
      
      #organic-comming-blog.style1 .blog-content .blog-right .more-info-blog {
        position: relative;
        margin-top: 10px; }
        @media only screen and (max-width: 767px) {
          #organic-comming-blog.style1 .blog-content .blog-right .more-info-blog {
            font-size: 0.7em;
            height: 20px; } }
        
        #organic-comming-blog.style1 .blog-content .blog-right .more-info-blog a {
          color: #898989;
          text-transform: uppercase;
          font-size: 1.142857143em; }
          
          #organic-comming-blog.style1 .blog-content .blog-right .more-info-blog a:hover {
            color: #95a83f;
            text-decoration: underline !important; }
        
        #organic-comming-blog.style1 .blog-content .blog-right .more-info-blog :before {
          content: '';
          background: url('../img/common/icon-organic.png') no-repeat -7px -2px;
          position: absolute;
          top: -1px;
          left: 35%;
          height: 30px;
          width: 30px; }
          @media only screen and (max-width: 1025px) {
            #organic-comming-blog.style1 .blog-content .blog-right .more-info-blog :before {
              left: 61%; } }
          @media only screen and (max-width: 769px) {
            #organic-comming-blog.style1 .blog-content .blog-right .more-info-blog :before {
              left: 70%; } }
          @media only screen and (max-width: 767px) {
            #organic-comming-blog.style1 .blog-content .blog-right .more-info-blog :before {
              background: url('../img/common/icon-organic.png') no-repeat -8px -28px;
              left: 95px;
              top: -4px; } }
			  
/**feature slide**/
.feature-title{
	text-align:center;
	margin-top:l0px;
	color:#8F8F8F;
}
.feature-line{
	border-top:1px solid #8F8F8F;
	width:30%;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
}
.feature-price{
	color:#A4935F;
	text-align:center;
	margin-top:15px;
}
.feature-button-block{
	margin:0 auto;
	text-align:center;
}
.feature-button {
		margin-left: auto;
		margin-right: auto;
		margin-top:10px;
		text-align:center;
        color: #333;
        border: 3px solid #e8e4d9;
        padding-top:8px;
		padding-bottom:8px;
		padding-left:12px;
		padding-right:12px;
        border-radius: 25px;
        font-size: 16px;
        text-transform: uppercase;
        background: transparent;
        position: relative;
        overflow: hidden;
        transition: all 0.5s;
        -webkit-transition: all 0.5s; }
        @media only screen and (max-width: 767px) {
          .feature-button {
            } }
        
        
        .feature-button:hover {
          color: #fff;
          transition: all 0.5s;
          -webkit-transition: all 0.5s; 
          background: #95a83f;
        }
		
/**header blog**/
#header-blog{
	position:absolute;
	top:0;
}
#organic-header-grid {
    margin-top: -100px;
    position: relative;
    min-height: 200px; }
	
	.fix-cover{
	background-image: url('../img/common/headback.jpg');
   }
    
    #organic-header-grid .fix-cover {
      height: 515px;
      position: relative;
      overflow: hidden; 
      background-color: #E5E5E5;

    }
      @media only screen and (max-width: 769px) {
        #organic-header-grid .fix-cover {
          height: 315px; } }
      @media only screen and (max-width: 767px) {
        #organic-header-grid .fix-cover {
          height: 265px; } }
      
      #organic-header-grid .fix-cover img {
        min-width: 100%;
        height: auto; }
    
    #organic-header-grid .img-fix {
      /*height: 515px;*/
      height: 460px;
      position: relative;
      overflow: hidden; }
      @media only screen and (max-width: 1025px) {
        #organic-header-grid .img-fix {
          height: 300px; } }
      @media only screen and (max-width: 769px) {
        #organic-header-grid .img-fix {
          height: 230px; } }
      @media only screen and (max-width: 767px) {
        #organic-header-grid .img-fix {
          height: auto;
          max-height: 150px; } }
      
      #organic-header-grid .img-fix img {
        min-width: 100%;
        height: auto;   max-width: inherit;
      }
    
    #organic-header-grid.blog-right #bg-cover:before {
      right: -1px; }
    
    #organic-header-grid.blog-right .bg-category:after {
      left: 0; }
    
    #organic-header-grid.blog-right .category-name {
      margin-right: 2%;
      margin-left: 0;
      padding-left: 0; }
      @media only screen and (max-width: 769px) {
        #organic-header-grid.blog-right .category-name {
          margin-top: 0;
          font-size: 3em; } }
      @media only screen and (max-width: 767px) {
        #organic-header-grid.blog-right .category-name {
          padding-left: 15px; } }
    
    #organic-header-grid.blog-right .category-list {
      margin-bottom: -20px;
      min-height: 50px;
      padding-left: 20px; }
      @media only screen and (max-width: 767px) {
        #organic-header-grid.blog-right .category-list {
          padding-top: 3%;
          padding-left: 20px;
          margin-bottom: -10px; } }
    
    #organic-header-grid .bg-category:after {
      content: '';
      position: absolute;
      height: 125px;
      width: 50%;
      right: 0;
      background: #fff; }
    
    #organic-header-grid #bg-cover {
      position: relative;
      margin-top: -100px; }
      
      #organic-header-grid #bg-cover:before {
        content: '';
        position: absolute;
        height: 200px;
        width: 31%;
        background: #fff;
        z-index: 0;
        top: 0; }
        @media only screen and (max-width: 767px) {
          #organic-header-grid #bg-cover:before {
            display: none; } }
			
	#organic-header-grid .category-list {
      padding-top: 17%;
      float: right;
      padding-bottom: 40px;
      width: 100%;
      background: #fff; }
      @media only screen and (max-width: 767px) {
        #organic-header-grid .category-list {
          margin-top: 21%;
          padding-bottom: 5px;
          padding-top: 10px;
          padding-left: 17px;
          margin-bottom: -15px; } }
      
      #organic-header-grid .category-list.blog-left {
        float: left;
        background: #fff;
        padding: 40px 0 60px 27px; }
      
      #organic-header-grid .category-list .category-detail.name {
        float: left;
        padding-right: 30px;
        cursor: pointer; }
        
        #organic-header-grid .category-list .category-detail.name a {
          color: #252525; }
        
        #organic-header-grid .category-list .category-detail.name:after {
          content: '';
          position: absolute;
          height: 25px;
          width: 27px;
          background: url('../img/common/icon-organic.png') no-repeat -292px -70px; }
      
      #organic-header-grid .category-list .category-detail.active {
        color: #95a83f; }
    
    #organic-header-grid .category-name {
      font-size: 4.285714286em;
      text-transform: uppercase;
      float: left;
      margin-top: -2%;
      width: 98%;
      color: #252525;
      padding-left: 70px;
      margin-left: 2%; }
      @media only screen and (max-width: 1025px) {
        #organic-header-grid .category-name {
          height: 90px;
          overflow: hidden;
          word-break: break-all; } }
      @media only screen and (max-width: 767px) {
        #organic-header-grid .category-name {
          position: absolute;
          top: 9px;
          margin-left: -14%;
          font-size: 2.2em; } }
		  
/*------------------------------------------------------------------
[5. Sidebar product]
*/
  #organic-content-grid .sidebar-product {
    margin-bottom: 150px; }
    @media only screen and (max-width: 767px) {
      #organic-content-grid .sidebar-product {
        padding-left: 20px;
        margin-bottom: 50px; } }
    @media only screen and (max-width: 767px) {
      #organic-content-grid .sidebar-product #woocommerce_top_rated_products-2 {
        display: none; } }
    
    #organic-content-grid .sidebar-product .ui-slider {
      position: relative;
      text-align: left; }
      
      #organic-content-grid .sidebar-product .ui-slider .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 10px;
        height: 10px;
        border-radius: 1em;
        cursor: pointer;
        background: #95a83f;
        outline: none;
        top: -0.3em; }
        
        #organic-content-grid .sidebar-product .ui-slider .ui-slider-handle:last-child {
          margin-left: -0.5em; }
      
      #organic-content-grid .sidebar-product .ui-slider .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: 0.7em;
        display: block;
        border: 0;
        background: #95a83f;
        border-radius: 1em; }
    
    #organic-content-grid .sidebar-product .price_slider_wrapper {
      width: 67%;
      margin-left: 25px; }
      
      #organic-content-grid .sidebar-product .price_slider_wrapper .price_slider {
        margin-bottom: 1em; }
      
      #organic-content-grid .sidebar-product .price_slider_wrapper .price_slider_amount {
        text-align: right;
        line-height: 2.4em;
        font-size: 0.8751em;
        margin-bottom: 55px; }
        
        #organic-content-grid .sidebar-product .price_slider_wrapper .price_slider_amount .button {
          font-size: 1em;
          float: left;
          margin-bottom: 45px;
          color: #898989;
          padding: 9px 41px;
          border-radius: 20px;
          font-weight: normal;
          position: relative;
          top: 50px;
          left: -25px; }
        
        #organic-content-grid .sidebar-product .price_slider_wrapper .price_slider_amount .price_label {
          position: absolute;
          color: transparent; }
          
          #organic-content-grid .sidebar-product .price_slider_wrapper .price_slider_amount .price_label span {
            color: #191919;
            font-size: 1.2em; }
            
            #organic-content-grid .sidebar-product .price_slider_wrapper .price_slider_amount .price_label span.from {
              position: relative;
              left: -58px; }
            
            #organic-content-grid .sidebar-product .price_slider_wrapper .price_slider_amount .price_label span.to {
              position: relative;
              right: -55px; }
              @media only screen and (max-width: 1025px) {
                #organic-content-grid .sidebar-product .price_slider_wrapper .price_slider_amount .price_label span.to {
                  right: -30px; } }
              @media only screen and (max-width: 769px) {
                #organic-content-grid .sidebar-product .price_slider_wrapper .price_slider_amount .price_label span.to {
                  right: 0; } }
      
      #organic-content-grid .sidebar-product .price_slider_wrapper .price_slider_amount {
        margin-left: 20px; }
      
      #organic-content-grid .sidebar-product .price_slider_wrapper .ui-widget-content {
        border-radius: 1em;
        background: #d5d5d5; }
    
    #organic-content-grid .sidebar-product .ui-slider-horizontal {
      height: 3px; }
      
      #organic-content-grid .sidebar-product .ui-slider-horizontal .ui-slider-range {
        top: 0;
        height: 100%; }
      
      #organic-content-grid .sidebar-product .ui-slider-horizontal .ui-slider-range-min {
        left: -1px; }
      
      #organic-content-grid .sidebar-product .ui-slider-horizontal .ui-slider-range-max {
        right: -1px; }
    
    #organic-content-grid .sidebar-product .compare {
      margin-bottom: 45px; }
    
    #organic-content-grid .sidebar-product a {
      color: #898989; }
    
    #organic-content-grid .sidebar-product h2 {
      text-transform: uppercase;
      font-size: 1.285714286em;
      width: 100%;
      border: 1px solid #f3f1ec;
      width: 94%;
      padding: 10px 20px;
      margin-bottom: 20px;
      border-radius: 25px;
      margin-top: 0; }
      
      #organic-content-grid .sidebar-product h2:hover {
        background: #f6eada;
        border: 1px solid #f6eada; }
    
    #organic-content-grid .sidebar-product ul {
      margin-bottom: 45px; }
      
      #organic-content-grid .sidebar-product ul.products-list {
        margin-bottom: 0; }
        
        #organic-content-grid .sidebar-product ul.products-list li .remove {
          float: left;
          color: #95a83f !important;
          margin-top: 2px; }
          
          #organic-content-grid .sidebar-product ul.products-list li .remove:hover {
            background: none;
            color: red !important; }
      
      #organic-content-grid .sidebar-product ul li {
        list-style: none;
        color: #898989;
        line-height: 30px;
        list-style: none;
        position: relative;
        margin-left: -20px; }
        
        #organic-content-grid .sidebar-product ul li:hover a {
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          color: #95a83f; }
        
        #organic-content-grid .sidebar-product ul li.current-cat a {
          color: #95a83f;
          text-decoration: underline; }
        
        #organic-content-grid .sidebar-product ul li:before {
          content: '';
          position: absolute;
          height: 2px;
          width: 2px;
          left: -7px;
          top: 14px;
          background: #ebbc74; }
    
    #organic-content-grid .sidebar-product .clear-all {
      margin-left: 20px; }
    
    #organic-content-grid .sidebar-product .textwidget li a {
      color: #898989;
      line-height: 30px;
      list-style: none;
      position: relative; }
    
    #organic-content-grid .sidebar-product .product_list_widget li {
      width: 90%;
      list-style: none;
      margin-left: 0; }
      @media only screen and (max-width: 1025px) {
        #organic-content-grid .sidebar-product .product_list_widget li {
          text-align: center; } }
      @media only screen and (max-width: 769px) {
        #organic-content-grid .sidebar-product .product_list_widget li {
          margin-left: 10px; } }
      
      #organic-content-grid .sidebar-product .product_list_widget li:before {
        display: none; }
      
      #organic-content-grid .sidebar-product .product_list_widget li a {
        color: #333;
        word-break: break-all;
        font-weight: normal;
        line-height: 21px;
        padding-bottom: 5px;
        text-transform: lowercase; }
        
        #organic-content-grid .sidebar-product .product_list_widget li a:first-letter {
          text-transform: uppercase; }
        
        #organic-content-grid .sidebar-product .product_list_widget li a img {
          float: left;
          width: 100px;
          margin-right: 20px; }
          @media only screen and (max-width: 1025px) {
            #organic-content-grid .sidebar-product .product_list_widget li a img {
              width: 200px; } }
          @media only screen and (max-width: 769px) {
            #organic-content-grid .sidebar-product .product_list_widget li a img {
              width: 145px; } }
        
        #organic-content-grid .sidebar-product .product_list_widget li a span {
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          position: relative;
          top: 15px; }
      
      #organic-content-grid .sidebar-product .product_list_widget li .star-rating {
        color: #95a83f;
        margin: 15px 0 10px; }
        @media only screen and (max-width: 1025px) {
          #organic-content-grid .sidebar-product .product_list_widget li .star-rating {
            position: relative;
            left: 50%;
            right: auto;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%); } }
      
      #organic-content-grid .sidebar-product .product_list_widget li .amount {
        font-size: 1.142857143em;
        color: #ed1c24;
        padding-top: 10px; }
      
      #organic-content-grid .sidebar-product .product_list_widget li.amount:first-child {
        display: none; }
		
		
/**shop**/
.shop-product{
	width:30.75%;
	float:left;
}
.shop-line{
	border-top:1px solid #E8E4D9;
	width:100%;
}
.shop-product-hon{
	padding-top:30px;
}
.product-hon-img{
	max-width:300px;
	width:35%;
	float:left;
}
.product-hon-desc{
	width:65%;
	float:left;
	padding-top:15%;
}
.product-line{
	border-top:1px solid #8F8F8F;
	width:30%;
	text-align:left;
	margin-top:10px;
}
.product-hon-text{
	color:#898997;
	margin-top:20px;
}
.product-hon-price{
	color:#EE393E;
	margin-top:20px;
}
.product-button-block{
	text-align:left;
	margin-top:15px;
}
.product-button {
		margin-left: auto;
		margin-right: auto;
		margin-top:10px;
		text-align:center;
        color: #333;
        border: 3px solid #e8e4d9;
        padding-top:8px;
		padding-bottom:8px;
		padding-left:12px;
		padding-right:12px;
        border-radius: 25px;
        font-size: 16px;
        text-transform: uppercase;
        background: transparent;
        position: relative;
        overflow: hidden;
        transition: all 0.5s;
        -webkit-transition: all 0.5s; }
        @media only screen and (max-width: 767px) {
          .product-button {
            } }
        
        
        .product-button:hover {
          color: #fff;
          transition: all 0.5s;
          -webkit-transition: all 0.5s; 
          background: #95a83f;
        }
		
#product-list{
	display:none;
}
#organic-content-grid .product-right .gridlist-toggle {
      top: -45px;
      position: relative; }
      
      #organic-content-grid .product-right .gridlist-toggle #list {
        float: left;
        padding: 0;
        position: relative;
        background: #eee;
        min-height: 28px;
        min-width: 28px;
        float: left;
        border-radius: 5px; }
        
        #organic-content-grid .product-right .gridlist-toggle #list.active {
          background: #95a83f; }
        
        #organic-content-grid .product-right .gridlist-toggle #list:hover {
          background: #95a83f; }
        
        #organic-content-grid .product-right .gridlist-toggle #list:before {
          content: '';
          position: absolute;
          height: 20px;
          width: 20px;
          background: url('../img/common/icon-organic.png') no-repeat -32px -117px;
          left: 5px;
          top: 8px; }
      
      #organic-content-grid .product-right .gridlist-toggle #grid {
        position: relative;
        background: #eee;
        min-height: 28px;
        min-width: 28px;
        float: left;
        border-radius: 5px; }
		#organic-content-grid .product-right .gridlist-toggle #grid.active {
          background: #95a83f; }
        
        #organic-content-grid .product-right .gridlist-toggle #grid:before {
          content: '';
          position: absolute;
          height: 20px;
          width: 20px;
          background: url('../img/common/icon-organic.png') no-repeat -8px -117px;
          left: 5px;
          top: 8px; }
/*------------------------------------------------------------------
[10. Footer]
*/
#footer{
	min-width:1140px;
	width:60%;
	margin:0 auto;
}
footer {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display:block;
  padding-bottom: 20px; }
  @media only screen and (max-width: 769px) {
    footer {
      font-size: 0.8em; } }
  @media only screen and (max-width: 767px) {
    footer {
      padding: 0 20px; } }
  
  footer .organic-footer {
    margin-top: 45px
    /* Calendar Widget */ }
    
    footer .organic-footer.menu-footer {
      color: white; }
    footer .organic-footer select {
        background: none;
        border: 1px solid #E5E5E5;
        max-width: 100%;
    }
    footer .organic-footer h3 {
      padding: 5px 0 13px 40px;
      color: #252525;
      text-transform: uppercase;
      font-size: 1em; }
    
    footer .organic-footer a {
      color: #898989;
      font-size: 0.928571429em; }
      
      footer .organic-footer a:hover {
        color: #95a83f;
        text-decoration: underline !important; }
    
    footer .organic-footer ul li {
      list-style: none;
      padding: 2px 0; }
    
    footer .organic-footer .copyright {
      color: #898989; }
      @media only screen and (max-width: 767px) {
        footer .organic-footer .copyright {
          text-align: center; } }
    
    footer .organic-footer .email-footer {
      text-transform: uppercase; }
      @media only screen and (max-width: 767px) {
        footer .organic-footer .email-footer {
          text-align: center; } }
      
      footer .organic-footer .email-footer a {
        font-size: 1em; }
    
    footer .organic-footer img {
      max-width: 100%;
      height: auto; }
    
    footer .organic-footer #wp-calendar {
      border-bottom: 1px solid #ededed;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: 14px;
      line-height: 2;
      margin: 0 0 20px;
      width: 65%; }
      
      footer .organic-footer #wp-calendar a {
        font-weight: bold;
        color: #95a83f; }
  @media only screen and (max-width: 767px) {
    footer .ft-right {
      display: none; } }
  
  footer .organic-social {
    float: left;
    padding-left: 0;
    list-style: none;
    margin-top: 17px;
    border-bottom: 1px dashed #8a785a;
    width: 86%;
    margin-bottom: 25px; }
    @media only screen and (max-width: 767px) {
      footer .organic-social {
        width: 100%;
        padding-left: 14%;
        padding-bottom: 10px; } }
    
    footer .organic-social li {
      list-style: none;
      float: left;
      margin-right: 10px; }
      
      footer .organic-social li a {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 55px;
        border-radius: 50%;
        text-align: center;
        margin-bottom: 5px; }
        @media only screen and (max-width: 769px) {
          footer .organic-social li a {
            width: 30px;
            height: 30px; } }
        
        footer .organic-social li a i {
          font-size: 2.142857143em;
          color: #8a785a;
          transition: all 0.5s;
          -webkit-transition: all 0.5s; }
        
        footer .organic-social li a:hover {
          transition: all 0.5s;
          -webkit-transition: all 0.5s; }
          
          footer .organic-social li a:hover i:before {
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            color: #95a83f; }